<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="eventsApp">
<head>
    <meta charset="utf-8" />
    <title>Event registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    <div class="container">
        <div ng-controller="CookiesStoreSampleController" style="padding-left: 20px; padding-right: 20px;">
            <button class="btn" ng-click="saveEventToCookie(event)">Store cookie</button>
            <button class="btn" ng-click="getEventFromCookie(event)">Get cookie</button>
            <button class="btn" ng-click="removeEventCookie(event)">Remove cookie</button>
        </div>
    </div>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/CookiesStoreSampleController.js"></script>
    <script src="/js/filters.js"></script>
</body>
</html>
